.navbar__tittle {
    margin: 0;
    padding: 12px;
    font-size: var(--fs-md);
    text-align: center;
}
.navbar__subtittle {
    font-size: var(--fs-xs);
    color: var(--gray-800);
}

.navbar {
    background-color: var(--primary-800);

   
}

.navbar__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 4px 0;
}
@media (width > 760px){
    .navbar__list{
        flex-direction: row;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar__link:hover {
        color: var(--secondary-300);
    }
}

.navbar__link.active {
    background-color: var(--white);
    color: var(--primary-950);
    font-weight: bold ;
    padding: 8px 24px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}