<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usurio</title>
      <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
     <!--Header-->
    <header>    
        <h1 class="navbar__tittle">
            Valentina 
           <span class ="navbar__subtitle"> proyecto Freelancer</span> 
        </h1></header> <!--Header-->
    
     
<div class="navbar-container"></div>
    <H1>ESTOY SOBRE MI</H1>
    <script src ="/js/components/navbar.js"></script>
</body>
</html>