<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
      <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <header>    
        <h1 class="navbar__tittle">
            Valentina 
           <span class ="navbar__subtitle"> proyecto Freelancer</span> 
        </h1>

    </header> <!--Header-->
    
     

    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item"><a href="/index.html" class="navbar__link">Inicio</a></li>
            <li class="navbar__item"><a href="/Views/page/courses.html" class="navbar__link">Cursos</a></li>
            <li class="navbar__item"><a href="/Views/page/about.html" class="navbar__link">Sobre mi</a></li>
            <li class="navbar__item"><a href="/Views/page/contact.html" class="navbar__link">Contacto</a></li>
           
        </ul>
    </nav> <!--Navbar-->

    <H1>ESTOY SOBRE CURSOS</H1>
</body>
</html>